In [3]:
import pandas as pd
import numpy as np
import os

In [11]:
Data = pd.read_csv('/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/DataPreprocessing/Data/NumEmp/numemp_combined.csv')
Data = Data.drop(columns = 'Unnamed: 0')

Data

,Occupations,"Bronx County, New York","Kings County, New York","New York County, New York","Queens County, New York","Richmond County, New York",year,race,Gender
0,Total:,22160.0,121664,98647.0,248187,16530.0,2010,Asian Alone,Total
1,Male:,12283.0,66638,44989.0,135390,8822.0,2010,Asian Alone,Total Male
2,"Management, business, science, and arts occupa...",3201.0,15689,28593.0,41250,4012.0,2010,Asian Alone,Male
3,"Management, business, and financial occupations:",1103.0,5399,12780.0,19782,1419.0,2010,Asian Alone,Male
4,Management occupations,458.0,3330,7144.0,11371,719.0,2010,Asian Alone,Male
...,...,...,...,...,...,...,...,...,...
5105,"Installation, maintenance, and repair occupations",0.0,121,17.0,72,485.0,2019,WHITE ALONE NOT HISPANIC OR LATINO,Female
5106,"Production, transportation, and material movin...",674.0,3239,2190.0,3226,1124.0,2019,WHITE ALONE NOT HISPANIC OR LATINO,Female
5107,Production occupations,220.0,1995,1075.0,1547,179.0,2019,WHITE ALONE NOT HISPANIC OR LATINO,Female
5108,Transportation occupations,285.0,587,160.0,1181,294.0,2019,WHITE ALONE NOT HISPANIC OR LATINO,Female
5109,Material moving occupations,169.0,657,955.0,498,651.0,2019,WHITE ALONE NOT HISPANIC OR LATINO,Female

In [26]:

numemp_big_category = Data[(Data['Occupations'] == 'Management, business, science, and arts occupations:')|
                           (Data['Occupations'] == 'Service occupations:')|
                           (Data['Occupations'] == 'Sales and office occupations:')|
                           (Data['Occupations'] == 'Natural resources, construction, and maintenance occupations:')|
                           (Data['Occupations'] == 'Production, transportation, and material moving occupations:')]
numemp_big_category['Bronx County, New York'] = Data.groupby(['Occupations','year'])['Bronx County, New York'].transform('sum')
numemp_big_category['Kings County, New York'] = Data.groupby(['Occupations','year'])['Kings County, New York'].transform('sum')
numemp_big_category['New York County, New York'] = Data.groupby(['Occupations','year'])['New York County, New York'].transform('sum')
numemp_big_category['Queens County, New York'] = Data.groupby(['Occupations','year'])['Queens County, New York'].transform('sum')
numemp_big_category['Richmond County, New York'] = Data.groupby(['Occupations','year'])['Richmond County, New York'].transform('sum')

numemp_big_category = numemp_big_category.iloc[:,[0,1,2,3,4,5,6]].drop_duplicates()
                         
numemp_big_category.to_csv('/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/DataPreprocessing/Data/NumEmp/numemp_big_category.csv')

<ipython-input-26-d4cd099299b2>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numemp_big_category['Bronx County, New York'] = Data.groupby(['Occupations','year'])['Bronx County, New York'].transform('sum')
<ipython-input-26-d4cd099299b2>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numemp_big_category['Kings County, New York'] = Data.groupby(['Occupations','year'])['Kings County, New York'].transform('sum')
<ipython-input-26-d4cd099299b2>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numemp_big_category['New York County, New York'] = Data.groupby(['Occupations','year'])['New York County, New York'].transform('sum')
<ipython-input-26-d4cd099299b2>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numemp_big_category['Queens County, New York'] = Data.groupby(['Occupations','year'])['Queens County, New York'].transform('sum')
<ipython-input-26-d4cd099299b2>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numemp_big_category['Richmond County, New York'] = Data.groupby(['Occupations','year'])['Richmond County, New York'].transform('sum')