In [10]:
import pandas as pd
import numpy as np
import os

In [11]:
Data = pd.read_csv('/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/DataPreprocessing/Data/NumEmp/numemp_01.csv')
Data
#Data = pd.read_csv('C:/Users/eabea/Dropbox/Documents/STAT W5702/Project/STAT5702_NYC_Employment_Analysis/RawData/OccupationVSotherVariables/DetailedAnalysisOnSex+Occupation+Race/race.csv')

,Unnamed: 0,Occupations,"Bronx County, New York","Kings County, New York","New York County, New York","Queens County, New York","Richmond County, New York",year,race,Gender
0,4,Management occupations,458.0,3330,7144.0,11371,719.0,2010,Asian Alone,Male
1,5,Business and financial operations occupations,645.0,2069,5636.0,8411,700.0,2010,Asian Alone,Male
2,7,Computer and mathematical occupations,544.0,2635,3904.0,6097,472.0,2010,Asian Alone,Male
3,8,Architecture and engineering occupations,271.0,872,402.0,1773,298.0,2010,Asian Alone,Male
4,9,"Life, physical, and social science occupations",87.0,143,1359.0,724,50.0,2010,Asian Alone,Male
...,...,...,...,...,...,...,...,...,...,...
3495,67,Construction and extraction occupations,0.0,187,497.0,209,142.0,2019,WHITE ALONE NOT HISPANIC OR LATINO,Female
3496,68,"Installation, maintenance, and repair occupations",0.0,121,17.0,72,485.0,2019,WHITE ALONE NOT HISPANIC OR LATINO,Female
3497,70,Production occupations,220.0,1995,1075.0,1547,179.0,2019,WHITE ALONE NOT HISPANIC OR LATINO,Female
3498,71,Transportation occupations,285.0,587,160.0,1181,294.0,2019,WHITE ALONE NOT HISPANIC OR LATINO,Female
3499,72,Material moving occupations,169.0,657,955.0,498,651.0,2019,WHITE ALONE NOT HISPANIC OR LATINO,Female

In [12]:
cols = ['Unnamed: 0', 'Label', 'Bronx County, New York', 'Kings County, New York', 'New York County, New York', 'Queens County, New York', 'Richmond County, New York', 'race', 'year']

try:
    Data = Data[cols]
    Data = Data.drop(columns = 'Unnamed: 0')
except KeyError:
    pass

Data.fillna(0,inplace = True)
Data

,Unnamed: 0,Occupations,"Bronx County, New York","Kings County, New York","New York County, New York","Queens County, New York","Richmond County, New York",year,race,Gender
0,4,Management occupations,458.0,3330,7144.0,11371,719.0,2010,Asian Alone,Male
1,5,Business and financial operations occupations,645.0,2069,5636.0,8411,700.0,2010,Asian Alone,Male
2,7,Computer and mathematical occupations,544.0,2635,3904.0,6097,472.0,2010,Asian Alone,Male
3,8,Architecture and engineering occupations,271.0,872,402.0,1773,298.0,2010,Asian Alone,Male
4,9,"Life, physical, and social science occupations",87.0,143,1359.0,724,50.0,2010,Asian Alone,Male
...,...,...,...,...,...,...,...,...,...,...
3495,67,Construction and extraction occupations,0.0,187,497.0,209,142.0,2019,WHITE ALONE NOT HISPANIC OR LATINO,Female
3496,68,"Installation, maintenance, and repair occupations",0.0,121,17.0,72,485.0,2019,WHITE ALONE NOT HISPANIC OR LATINO,Female
3497,70,Production occupations,220.0,1995,1075.0,1547,179.0,2019,WHITE ALONE NOT HISPANIC OR LATINO,Female
3498,71,Transportation occupations,285.0,587,160.0,1181,294.0,2019,WHITE ALONE NOT HISPANIC OR LATINO,Female
3499,72,Material moving occupations,169.0,657,955.0,498,651.0,2019,WHITE ALONE NOT HISPANIC OR LATINO,Female

In [13]:
Years = [i for i in range(2010,2020)]
OccupationsByYear = []

for year in Years:
    Occupations = {'Management occupations':0,
               'Business and financial operations occupations':0,
               'Computer and mathematical occupations':0,
               'Architecture and engineering occupations':0,
               'Life, physical, and social science occupations':0,
               'Community and social service occupations':0,
               'Legal occupations':0,
               'Education, training, and library occupations':0,
               'Arts, design, entertainment, sports, and media occupations':0,
               'Health diagnosing and treating practitioners and other technical occupations':0,
               'Health technologists and technicians':0,
               'Healthcare support occupations':0,
               'Fire fighting and prevention, and other protective service workers including supervisors':0,
               'Law enforcement workers including supervisors':0,
               'Food preparation and serving related occupations':0,
               'Building and grounds cleaning and maintenance occupations':0,
               'Personal care and service occupations':0,
               'Sales and related occupations':0,
               'Office and administrative support occupations':0,
               'Farming, fishing, and forestry occupations':0,
               'Construction and extraction occupations':0,
               'Installation, maintenance, and repair occupations':0,
               'Production occupations':0,
               'Transportation occupations':0,
               'Material moving occupations':0}
    YearData = Data[Data['year'] == year]
    for i in range(YearData.shape[0]):
        for key in Occupations.keys():           
            if key in YearData.iloc[i][0] and sum(YearData.iloc[i][x] for x in range(1,6)) != np.nan:
                Occupations[key] += sum(YearData.iloc[i][x] for x in range(1,6)) 
    
    Occupations = pd.DataFrame.from_dict(Occupations,orient='index',columns=['NumEmps'])
    Occupations.insert(loc=0,column = 'Occupations',value = Occupations.index)
    Occupations.reset_index(drop=True,inplace=True)
    Occupations['year'] = year
    OccupationsByYear.append(Occupations)


OccupationsByYear = pd.concat(OccupationsByYear)
OccupationsByYear

TypeError: argument of type 'numpy.int64' is not iterable

In [ ]:
#OccupationsByYear.to_csv(os.path.join('C:/Users/eabea/Dropbox/Documents/STAT W5702/Project/STAT5702_NYC_Employment_Analysis/DataPreprocessing/Data/Preprocess_ClevelandDotPlot/','yearly_cleveland.csv'),index=False)
OccupationsByYear.to_csv('/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/DataPreprocessing/Data/NumEmp/yearly_cleveland.csv')