In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
salary_2010 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/salary/CountySalary/2010.csv",na_values=['-'])
salary_2011 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/salary/CountySalary/2011.csv",na_values=['-'])
salary_2012 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/salary/CountySalary/2012.csv",na_values=['-'])
salary_2013 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/salary/CountySalary/2013.csv",na_values=['-'])
salary_2014 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/salary/CountySalary/2014.csv",na_values=['-'])
salary_2015 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/salary/CountySalary/2015.csv",na_values=['-'])
salary_2016 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/salary/CountySalary/2016.csv",na_values=['-'])
salary_2017 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/salary/CountySalary/2017.csv",na_values=['-'])
salary_2018 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/salary/CountySalary/2018.csv",na_values=['-'])
salary_2019 = pd.read_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/salary/CountySalary/2019.csv",na_values=['-'])
salary_2010

,Label,"Bronx County, New York!!Estimate","Kings County, New York!!Estimate","New York County, New York!!Estimate","Queens County, New York!!Estimate","Richmond County, New York!!Estimate"
0,Total:,"27,042","32,488","50,982","32,873","47,017"
1,Male:,"28,389","35,918","56,080","35,412","52,427"
2,"Management, business, science, and art...","50,675","56,486","81,283","56,173","75,603"
3,"Management, business, and financia...","51,472","64,063","93,538","60,035","82,365"
4,Management occupations,"52,075","63,901","100,440","58,163","85,946"
...,...,...,...,...,...,...
68,"Installation, maintenance, and rep...","40,174","42,075","12,387","32,075","66,669"
69,"Production, transportation, and materi...","17,320","19,326","20,580","22,763","26,095"
70,Production occupations,"16,567","19,021","18,920","20,663","26,341"
71,Transportation occupations,"26,867","35,089","27,020","33,986","25,693"
72,Material moving occupations,"15,878","14,180","21,067","19,784","21,250"

In [3]:
salary_2010["year"] = salary_2010.apply(lambda x: 2010, axis=1)
salary_2010["Label"] = salary_2010["Label"].str.strip()
salary_2010["Gender"] = ""
salary_2010["Gender"][0] = "Total"
salary_2010["Gender"][1] = "Total Male"
salary_2010["Gender"][2:37] = "Male"
salary_2010["Gender"][37] = "Total Female"
salary_2010["Gender"][38:73] = "Female"

salary_2011["year"] = salary_2011.apply(lambda x: 2011, axis=1)
salary_2011["Label"] = salary_2011["Label"].str.strip()
salary_2011["Gender"] = ""
salary_2011["Gender"][0] = "Total"
salary_2011["Gender"][1] = "Total Male"
salary_2011["Gender"][2:37] = "Male"
salary_2011["Gender"][37] = "Total Female"
salary_2011["Gender"][38:73] = "Female"

salary_2012["year"] = salary_2012.apply(lambda x: 2012, axis=1)
salary_2012["Label"] = salary_2012["Label"].str.strip()
salary_2012["Gender"] = ""
salary_2012["Gender"][0] = "Total"
salary_2012["Gender"][1] = "Total Male"
salary_2012["Gender"][2:37] = "Male"
salary_2012["Gender"][37] = "Total Female"
salary_2012["Gender"][38:73] = "Female"

salary_2013["year"] = salary_2013.apply(lambda x: 2013, axis=1)
salary_2013["Label"] = salary_2013["Label"].str.strip()
salary_2013["Gender"] = ""
salary_2013["Gender"][0] = "Total"
salary_2013["Gender"][1] = "Total Male"
salary_2013["Gender"][2:37] = "Male"
salary_2013["Gender"][37] = "Total Female"
salary_2013["Gender"][38:73] = "Female"

salary_2014["year"] = salary_2014.apply(lambda x: 2014, axis=1)
salary_2014["Label"] = salary_2014["Label"].str.strip()
salary_2014["Gender"] = ""
salary_2014["Gender"][0] = "Total"
salary_2014["Gender"][1] = "Total Male"
salary_2014["Gender"][2:37] = "Male"
salary_2014["Gender"][37] = "Total Female"
salary_2014["Gender"][38:73] = "Female"

salary_2015["year"] = salary_2015.apply(lambda x: 2015, axis=1)
salary_2015["Label"] = salary_2015["Label"].str.strip()
salary_2015["Gender"] = ""
salary_2015["Gender"][0] = "Total"
salary_2015["Gender"][1] = "Total Male"
salary_2015["Gender"][2:37] = "Male"
salary_2015["Gender"][37] = "Total Female"
salary_2015["Gender"][38:73] = "Female"

salary_2016["year"] = salary_2016.apply(lambda x: 2016, axis=1)
salary_2016["Label"] = salary_2016["Label"].str.strip()
salary_2016["Gender"] = ""
salary_2016["Gender"][0] = "Total"
salary_2016["Gender"][1] = "Total Male"
salary_2016["Gender"][2:37] = "Male"
salary_2016["Gender"][37] = "Total Female"
salary_2016["Gender"][38:73] = "Female"

salary_2017["year"] = salary_2017.apply(lambda x: 2017, axis=1)
salary_2017["Label"] = salary_2017["Label"].str.strip()
salary_2017["Gender"] = ""
salary_2017["Gender"][0] = "Total"
salary_2017["Gender"][1] = "Total Male"
salary_2017["Gender"][2:37] = "Male"
salary_2017["Gender"][37] = "Total Female"
salary_2017["Gender"][38:73] = "Female"

salary_2018["year"] = salary_2018.apply(lambda x: 2018, axis=1)
salary_2018["Label"] = salary_2018["Label"].str.strip()
salary_2018["Gender"] = ""
salary_2018["Gender"][0] = "Total"
salary_2018["Gender"][1] = "Total Male"
salary_2018["Gender"][2:37] = "Male"
salary_2018["Gender"][37] = "Total Female"
salary_2018["Gender"][38:73] = "Female"

salary_2019["year"] = salary_2019.apply(lambda x: 2019, axis=1)
salary_2019["Label"] = salary_2019["Label"].str.strip()
salary_2019["Gender"] = ""
salary_2019["Gender"][0] = "Total"
salary_2019["Gender"][1] = "Total Male"
salary_2019["Gender"][2:37] = "Male"
salary_2019["Gender"][37] = "Total Female"
salary_2019["Gender"][38:73] = "Female"

frames = [salary_2010,salary_2011,salary_2012,salary_2013,salary_2014,salary_2015,salary_2016,salary_2017,salary_2018,salary_2019]
salary = pd.concat(frames)
salary = salary.rename(columns = {"Bronx County, New York!!Estimate":"Bronx County, New York",
                                "Kings County, New York!!Estimate":"Kings County, New York",
                                "New York County, New York!!Estimate":"New York County, New York",
                                "Queens County, New York!!Estimate":"Queens County, New York",
                                "Richmond County, New York!!Estimate":"Richmond County, New York",
                                "Label":"Occupations"})

salary['Occupations'] = salary['Occupations'].replace(['Firefighting and prevention, and other protective service workers including supervisors'],'Fire fighting and prevention, and other protective service workers including supervisors')
salary['Occupations'] = salary['Occupations'].replace(['Educational instruction, and library occupations'],'Education, training, and library occupations')


salary = salary[(salary['Occupations'] == 'Management occupations')|
       (salary['Occupations'] == 'Business and financial operations occupations')|
       (salary['Occupations'] == 'Computer and mathematical occupations')|
       (salary['Occupations'] == 'Architecture and engineering occupations')|
       (salary['Occupations'] == 'Life, physical, and social science occupations')|
       (salary['Occupations'] == 'Community and social service occupations')|
       (salary['Occupations'] == 'Legal occupations')|
       (salary['Occupations'] == 'Education, training, and library occupations')|
       (salary['Occupations'] == 'Arts, design, entertainment, sports, and media occupations')|
       (salary['Occupations'] == 'Health diagnosing and treating practitioners and other technical occupations')|
       (salary['Occupations'] == 'Health technologists and technicians')|
       (salary['Occupations'] == 'Healthcare support occupations')|
       (salary['Occupations'] == 'Fire fighting and prevention, and other protective service workers including supervisors')|
       (salary['Occupations'] == 'Law enforcement workers including supervisors')|
       (salary['Occupations'] == 'Food preparation and serving related occupations')|
       (salary['Occupations'] == 'Building and grounds cleaning and maintenance occupations')|
       (salary['Occupations'] == 'Personal care and service occupations')|
       (salary['Occupations'] == 'Sales and related occupations')|
       (salary['Occupations'] == 'Office and administrative support occupations')|
       (salary['Occupations'] == 'Farming, fishing, and forestry occupations')|
       (salary['Occupations'] == 'Construction and extraction occupations')|
       (salary['Occupations'] == 'Installation, maintenance, and repair occupations')|
       (salary['Occupations'] == 'Production occupations')|
       (salary['Occupations'] == 'Transportation occupations')|
       (salary['Occupations'] == 'Material moving occupations')]

salary

<ipython-input-3-0a2203f00333>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2010["Gender"][0] = "Total"
<ipython-input-3-0a2203f00333>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2010["Gender"][1] = "Total Male"
<ipython-input-3-0a2203f00333>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2010["Gender"][2:37] = "Male"
<ipython-input-3-0a2203f00333>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2010["Gender"][37] = "Total Female"
<ipython-input-3-0a2203f00333>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2010["Gender"][38:73] = "Female"
<ipython-input-3-0a2203f00333>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2011["Gender"][0] = "Total"
<ipython-input-3-0a2203f00333>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2011["Gender"][1] = "Total Male"
<ipython-input-3-0a2203f00333>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2011["Gender"][2:37] = "Male"
<ipython-input-3-0a2203f00333>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2011["Gender"][37] = "Total Female"
<ipython-input-3-0a2203f00333>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2011["Gender"][38:73] = "Female"
<ipython-input-3-0a2203f00333>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2012["Gender"][0] = "Total"
<ipython-input-3-0a2203f00333>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2012["Gender"][1] = "Total Male"
<ipython-input-3-0a2203f00333>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2012["Gender"][2:37] = "Male"
<ipython-input-3-0a2203f00333>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2012["Gender"][37] = "Total Female"
<ipython-input-3-0a2203f00333>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2012["Gender"][38:73] = "Female"
<ipython-input-3-0a2203f00333>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2013["Gender"][0] = "Total"
<ipython-input-3-0a2203f00333>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2013["Gender"][1] = "Total Male"
<ipython-input-3-0a2203f00333>:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2013["Gender"][2:37] = "Male"
<ipython-input-3-0a2203f00333>:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2013["Gender"][37] = "Total Female"
<ipython-input-3-0a2203f00333>:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2013["Gender"][38:73] = "Female"
<ipython-input-3-0a2203f00333>:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2014["Gender"][0] = "Total"
<ipython-input-3-0a2203f00333>:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2014["Gender"][1] = "Total Male"
<ipython-input-3-0a2203f00333>:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2014["Gender"][2:37] = "Male"
<ipython-input-3-0a2203f00333>:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2014["Gender"][37] = "Total Female"
<ipython-input-3-0a2203f00333>:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2014["Gender"][38:73] = "Female"
<ipython-input-3-0a2203f00333>:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2015["Gender"][0] = "Total"
<ipython-input-3-0a2203f00333>:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2015["Gender"][1] = "Total Male"
<ipython-input-3-0a2203f00333>:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2015["Gender"][2:37] = "Male"
<ipython-input-3-0a2203f00333>:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2015["Gender"][37] = "Total Female"
<ipython-input-3-0a2203f00333>:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2015["Gender"][38:73] = "Female"
<ipython-input-3-0a2203f00333>:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2016["Gender"][0] = "Total"
<ipython-input-3-0a2203f00333>:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2016["Gender"][1] = "Total Male"
<ipython-input-3-0a2203f00333>:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2016["Gender"][2:37] = "Male"
<ipython-input-3-0a2203f00333>:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2016["Gender"][37] = "Total Female"
<ipython-input-3-0a2203f00333>:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2016["Gender"][38:73] = "Female"
<ipython-input-3-0a2203f00333>:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2017["Gender"][0] = "Total"
<ipython-input-3-0a2203f00333>:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2017["Gender"][1] = "Total Male"
<ipython-input-3-0a2203f00333>:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2017["Gender"][2:37] = "Male"
<ipython-input-3-0a2203f00333>:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2017["Gender"][37] = "Total Female"
<ipython-input-3-0a2203f00333>:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2017["Gender"][38:73] = "Female"
<ipython-input-3-0a2203f00333>:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2018["Gender"][0] = "Total"
<ipython-input-3-0a2203f00333>:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2018["Gender"][1] = "Total Male"
<ipython-input-3-0a2203f00333>:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2018["Gender"][2:37] = "Male"
<ipython-input-3-0a2203f00333>:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2018["Gender"][37] = "Total Female"
<ipython-input-3-0a2203f00333>:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2018["Gender"][38:73] = "Female"
<ipython-input-3-0a2203f00333>:85: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2019["Gender"][0] = "Total"
<ipython-input-3-0a2203f00333>:86: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2019["Gender"][1] = "Total Male"
<ipython-input-3-0a2203f00333>:87: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2019["Gender"][2:37] = "Male"
<ipython-input-3-0a2203f00333>:88: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2019["Gender"][37] = "Total Female"
<ipython-input-3-0a2203f00333>:89: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_2019["Gender"][38:73] = "Female"

,Occupations,"Bronx County, New York","Kings County, New York","New York County, New York","Queens County, New York","Richmond County, New York",year,Gender
4,Management occupations,"52,075","63,901","100,440","58,163","85,946",2010,Male
5,Business and financial operations occupations,"49,502","65,022","89,923","60,423","80,744",2010,Male
7,Computer and mathematical occupations,"49,466","70,859","87,516","64,772","82,728",2010,Male
8,Architecture and engineering occupations,"57,070","56,783","79,611","71,412","54,395",2010,Male
9,"Life, physical, and social science occupations","71,368","68,804","55,215","41,411","79,576",2010,Male
...,...,...,...,...,...,...,...,...
67,Construction and extraction occupations,"51,078","61,294","41,884","26,504",NaN,2019,Female
68,"Installation, maintenance, and repair occupations","17,872","43,455","50,428","50,731","35,462",2019,Female
70,Production occupations,"20,998","26,984","27,432","26,098","28,468",2019,Female
71,Transportation occupations,"32,327","40,410","52,193","36,424","21,689",2019,Female
72,Material moving occupations,"28,052","21,786","12,307","18,524","23,152",2019,Female

In [4]:
cols = ['Unnamed: 0', 'Occupations', 'Bronx County, New York', 'Kings County, New York', 'New York County, New York', 'Queens County, New York', 'Richmond County, New York',  'year']

try:
    salary = salary[cols]
    salary = salary.drop(columns = 'Unnamed: 0')
except KeyError:
    pass


salary['Bronx County, New York'] = salary['Bronx County, New York'].replace(',','', regex=True)
salary['Kings County, New York'] = salary['Kings County, New York'].replace(',','', regex=True)
salary['New York County, New York'] = salary['New York County, New York'].replace(',','', regex=True)
salary['Queens County, New York'] = salary['Queens County, New York'].replace(',','', regex=True)
salary['Richmond County, New York'] = salary['Richmond County, New York'].replace(',','', regex=True)
salary

,Occupations,"Bronx County, New York","Kings County, New York","New York County, New York","Queens County, New York","Richmond County, New York",year,Gender
4,Management occupations,52075,63901,100440,58163,85946,2010,Male
5,Business and financial operations occupations,49502,65022,89923,60423,80744,2010,Male
7,Computer and mathematical occupations,49466,70859,87516,64772,82728,2010,Male
8,Architecture and engineering occupations,57070,56783,79611,71412,54395,2010,Male
9,"Life, physical, and social science occupations",71368,68804,55215,41411,79576,2010,Male
...,...,...,...,...,...,...,...,...
67,Construction and extraction occupations,51078,61294,41884,26504,NaN,2019,Female
68,"Installation, maintenance, and repair occupations",17872,43455,50428,50731,35462,2019,Female
70,Production occupations,20998,26984,27432,26098,28468,2019,Female
71,Transportation occupations,32327,40410,52193,36424,21689,2019,Female
72,Material moving occupations,28052,21786,12307,18524,23152,2019,Female

In [5]:
grouped = salary.groupby(salary.Occupations)
Management_occupations = grouped.get_group("Management occupations")
Management_occupations_gender = Management_occupations.groupby(Management_occupations.Gender)
Management_occupations_male = Management_occupations_gender.get_group("Male")
Management_occupations_female = Management_occupations_gender.get_group("Female")

Business_and_financial_perations_occupations = grouped.get_group("Business and financial operations occupations")
Business_and_financial_perations_occupations_gender = Business_and_financial_perations_occupations.groupby(Business_and_financial_perations_occupations.Gender)
Business_and_financial_perations_occupations_male = Business_and_financial_perations_occupations_gender.get_group("Male")
Business_and_financial_perations_occupations_female = Business_and_financial_perations_occupations_gender.get_group("Female")

Computer_and_mathematical_occupations = grouped.get_group("Computer and mathematical occupations")
Computer_and_mathematical_occupations_gender = Computer_and_mathematical_occupations.groupby(Computer_and_mathematical_occupations.Gender)
Computer_and_mathematical_occupations_male = Computer_and_mathematical_occupations_gender.get_group("Male")
Computer_and_mathematical_occupations_female = Computer_and_mathematical_occupations_gender.get_group("Female")

Architecture_and_engineering_occupations = grouped.get_group("Architecture and engineering occupations")
Architecture_and_engineering_occupations_gender = Architecture_and_engineering_occupations.groupby(Architecture_and_engineering_occupations.Gender)
Architecture_and_engineering_occupations_male = Architecture_and_engineering_occupations_gender.get_group("Male")
Architecture_and_engineering_occupations_female = Architecture_and_engineering_occupations_gender.get_group("Female")

Life_hysical_and_social_science_occupations = grouped.get_group("Life, physical, and social science occupations")
Life_hysical_and_social_science_occupations_gender = Life_hysical_and_social_science_occupations.groupby(Life_hysical_and_social_science_occupations.Gender)
Life_hysical_and_social_science_occupations_male = Life_hysical_and_social_science_occupations_gender.get_group("Male")
Life_hysical_and_social_science_occupations_female = Life_hysical_and_social_science_occupations_gender.get_group("Female")

Community_and_social_service_occupations = grouped.get_group("Community and social service occupations")
Community_and_social_service_occupations_gender = Community_and_social_service_occupations.groupby(Community_and_social_service_occupations.Gender)
Community_and_social_service_occupations_male = Community_and_social_service_occupations_gender.get_group("Male")
Community_and_social_service_occupations_female = Community_and_social_service_occupations_gender.get_group("Female")

Legal_occupations = grouped.get_group("Legal occupations")
Legal_occupations_gender = Legal_occupations.groupby(Legal_occupations.Gender)
Legal_occupations_male = Legal_occupations_gender.get_group("Male")
Legal_occupations_female = Legal_occupations_gender.get_group("Female")

Education_training_and_library_occupations = grouped.get_group("Education, training, and library occupations")
Education_training_and_library_occupations_gender = Education_training_and_library_occupations.groupby(Education_training_and_library_occupations.Gender)
Education_training_and_library_occupations_male = Education_training_and_library_occupations_gender.get_group("Male")
Education_training_and_library_occupations_female = Education_training_and_library_occupations_gender.get_group("Female")

Arts_design_entertainment_sports_and_media_occupations = grouped.get_group("Arts, design, entertainment, sports, and media occupations")
Arts_design_entertainment_sports_and_media_occupations_gender = Arts_design_entertainment_sports_and_media_occupations.groupby(Arts_design_entertainment_sports_and_media_occupations.Gender)
Arts_design_entertainment_sports_and_media_occupations_male = Arts_design_entertainment_sports_and_media_occupations_gender.get_group("Male")
Arts_design_entertainment_sports_and_media_occupations_female = Arts_design_entertainment_sports_and_media_occupations_gender.get_group("Female")

Health_diagnosing_and_treating_practitioners_and_other_technical_occupations = grouped.get_group("Health diagnosing and treating practitioners and other technical occupations")
Health_diagnosing_and_treating_practitioners_and_other_technical_occupations_gender = Health_diagnosing_and_treating_practitioners_and_other_technical_occupations.groupby(Health_diagnosing_and_treating_practitioners_and_other_technical_occupations.Gender)
Health_diagnosing_and_treating_practitioners_and_other_technical_occupations_male = Health_diagnosing_and_treating_practitioners_and_other_technical_occupations_gender.get_group("Male")
Health_diagnosing_and_treating_practitioners_and_other_technical_occupations_female = Health_diagnosing_and_treating_practitioners_and_other_technical_occupations_gender.get_group("Female")

Health_technologists_and_technicians = grouped.get_group("Health technologists and technicians")
Health_technologists_and_technicians_gender = Health_technologists_and_technicians.groupby(Health_technologists_and_technicians.Gender)
Health_technologists_and_technicians_male = Health_technologists_and_technicians_gender.get_group("Male")
Health_technologists_and_technicians_female = Health_technologists_and_technicians_gender.get_group("Female")

Healthcare_support_occupations = grouped.get_group("Healthcare support occupations")
Healthcare_support_occupations_gender = Healthcare_support_occupations.groupby(Healthcare_support_occupations.Gender)
Healthcare_support_occupations_male = Healthcare_support_occupations_gender.get_group("Male")
Healthcare_support_occupations_female = Healthcare_support_occupations_gender.get_group("Female")

Fire = grouped.get_group("Fire fighting and prevention, and other protective service workers including supervisors")
Fire_gender = Fire.groupby(Fire.Gender)
Fire_male = Fire_gender.get_group("Male")
Fire_female = Fire_gender.get_group("Female")

Law_enforcement = grouped.get_group("Law enforcement workers including supervisors")
Law_enforcement_gender = Law_enforcement.groupby(Law_enforcement.Gender)
Law_enforcement_male = Law_enforcement_gender.get_group("Male")
Law_enforcement_female = Law_enforcement_gender.get_group("Female")

Food_preparation = grouped.get_group("Food preparation and serving related occupations")
Food_preparation_gender = Food_preparation.groupby(Food_preparation.Gender)
Food_preparation_male = Food_preparation_gender.get_group("Male")
Food_preparation_female = Food_preparation_gender.get_group("Female")

Building = grouped.get_group("Building and grounds cleaning and maintenance occupations")
Building_gender = Building.groupby(Building.Gender)
Building_male = Building_gender.get_group("Male")
Building_female = Building_gender.get_group("Female")

Personal_care = grouped.get_group("Personal care and service occupations")
Personal_care_gender = Personal_care.groupby(Personal_care.Gender)
Personal_care_male = Personal_care_gender.get_group("Male")
Personal_care_female = Personal_care_gender.get_group("Female")

Sales = grouped.get_group("Sales and related occupations")
Sales_gender = Sales.groupby(Sales.Gender)
Sales_male = Sales_gender.get_group("Male")
Sales_female = Sales_gender.get_group("Female")

Office_and_administrative = grouped.get_group("Office and administrative support occupations")
Office_and_administrative_gender = Office_and_administrative.groupby(Office_and_administrative.Gender)
Office_and_administrative_male = Office_and_administrative_gender.get_group("Male")
Office_and_administrative_female = Office_and_administrative_gender.get_group("Female")

Farming = grouped.get_group("Farming, fishing, and forestry occupations")
Farming_gender = Farming.groupby(Farming.Gender)
Farming_male = Farming_gender.get_group("Male")
Farming_female = Farming_gender.get_group("Female")

Construction = grouped.get_group("Construction and extraction occupations")
Construction_gender = Construction.groupby(Construction.Gender)
Construction_male = Construction_gender.get_group("Male")
Construction_female = Construction_gender.get_group("Female")

Installation = grouped.get_group("Installation, maintenance, and repair occupations")
Installation_gender = Installation.groupby(Installation.Gender)
Installation_male = Installation_gender.get_group("Male")
Installation_female = Installation_gender.get_group("Female")

Production = grouped.get_group("Production occupations")
Production_gender = Production.groupby(Production.Gender)
Production_male = Production_gender.get_group("Male")
Production_female = Production_gender.get_group("Female")

Transportation = grouped.get_group("Transportation occupations")
Transportation_gender = Transportation.groupby(Transportation.Gender)
Transportation_male = Transportation_gender.get_group("Male")
Transportation_female = Transportation_gender.get_group("Female")

Material = grouped.get_group("Material moving occupations")
Material_gender = Material.groupby(Material.Gender)
Material_male = Material_gender.get_group("Male")
Material_female = Material_gender.get_group("Female")

In [6]:
# missing values in farming group
Farming_male

,Occupations,"Bronx County, New York","Kings County, New York","New York County, New York","Queens County, New York","Richmond County, New York",year,Gender
30,"Farming, fishing, and forestry occupations",41019,35486,18486,23383,NaN,2010,Male
30,"Farming, fishing, and forestry occupations",25825,26890,35364,14692,NaN,2011,Male
30,"Farming, fishing, and forestry occupations",18113,30818,NaN,30004,NaN,2012,Male
30,"Farming, fishing, and forestry occupations",NaN,11114,NaN,30517,NaN,2013,Male
30,"Farming, fishing, and forestry occupations",NaN,22746,NaN,3226,NaN,2014,Male
30,"Farming, fishing, and forestry occupations",25739,31607,NaN,26057,NaN,2015,Male
30,"Farming, fishing, and forestry occupations",30833,31399,NaN,25468,NaN,2016,Male
30,"Farming, fishing, and forestry occupations",NaN,21539,14021,35284,NaN,2017,Male
30,"Farming, fishing, and forestry occupations",30112,40869,35529,26154,NaN,2018,Male
30,"Farming, fishing, and forestry occupations",24372,31742,NaN,NaN,NaN,2019,Male

In [7]:
salary.to_csv(r"/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/DataPreprocessing/Data/Salary/salary.csv")