In [352]:
import pandas as pd
import numpy as np
import os

In [353]:
Education2010 = pd.read_csv('/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/education/2010.csv') 
Education2011 = pd.read_csv('/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/education/2011.csv') 
Education2012 = pd.read_csv('/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/education/2012.csv') 
Education2013 = pd.read_csv('/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/education/2013.csv') 
Education2014 = pd.read_csv('/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/education/2014.csv') 
Education2015 = pd.read_csv('/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/education/2015.csv',na_values=['(X)']) 
Education2016 = pd.read_csv('/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/education/2016.csv',na_values=['(X)']) 
Education2017 = pd.read_csv('/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/education/2017.csv',na_values=['(X)']) 
Education2018 = pd.read_csv('/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/education/2018.csv',na_values=['(X)']) 
Education2019 = pd.read_csv('/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/RawData/education/2019.csv') 

Education2010 = Education2010.iloc[0:15,:]
Education2011 = Education2011.iloc[0:15,:]
Education2012 = Education2012.iloc[0:15,:]
Education2013 = Education2013.iloc[0:15,:]
Education2014 = Education2014.iloc[0:15,:]
Education2015 = Education2015.iloc[1:16,:]
Education2016 = Education2016.iloc[1:16,:]
Education2017 = Education2017.iloc[1:16,:]
Education2018 = Education2018.iloc[1:16,:]
Education2019 = Education2019.iloc[1:16,:]

In [354]:
Education2010 = Education2010.replace(',','', regex=True)
Education2010 = Education2010.replace('%','', regex=True)
Education2010["year"] = Education2010.apply(lambda x: 2010, axis=1)
Education2010["Label"] = Education2010["Label"].str.strip()
for i in range(1,5):
    for j in range(1,19):
        Education2010.iloc[i,j] = float(Education2010.iloc[i,j])*float(Education2010.iloc[0,j])/100
for i in range(6,15):
    for j in range(1,19):
        Education2010.iloc[i,j] = float(Education2010.iloc[i,j])*float(Education2010.iloc[5,j])/100
Education2010.iloc[0,0] = "Less Than High School"
for j in range(1,19):
    Education2010.iloc[0,j] = Education2010.iloc[1,j] + Education2010.iloc[6,j] + Education2010.iloc[7,j]
Education2010.iloc[1,0] = "High School Graduate"
for j in range(1,19):
    Education2010.iloc[1,j] = Education2010.iloc[2,j] + Education2010.iloc[8,j]
Education2010.iloc[2,0] = "Some College or Associate's Degree"
for j in range(1,19):
    Education2010.iloc[2,j] = Education2010.iloc[3,j] + Education2010.iloc[9,j] + Education2010.iloc[10,j]
Education2010.iloc[3,0] = "Bechelor's Degree or Higher"
for j in range(1,19):
    Education2010.iloc[3,j] = Education2010.iloc[4,j] + Education2010.iloc[11,j] + Education2010.iloc[12,j]+ Education2010.iloc[13,j]+ Education2010.iloc[14,j]
Education2010.drop([4,5,6,7,8,9,10,11,12,13,14],inplace = True) 

        
Education2011 = Education2011.replace(',','', regex=True)
Education2011 = Education2011.replace('%','', regex=True)
Education2011["year"] = Education2011.apply(lambda x: 2011, axis=1)
Education2011["Label"] = Education2011["Label"].str.strip()
for i in range(1,5):
    for j in range(1,19):
        Education2011.iloc[i,j] = float(Education2011.iloc[i,j])*float(Education2011.iloc[0,j])/100
for i in range(6,15):
    for j in range(1,19):
        Education2011.iloc[i,j] = float(Education2011.iloc[i,j])*float(Education2011.iloc[5,j])/100
Education2011.iloc[0,0] = "Less Than High School"
for j in range(1,19):
    Education2011.iloc[0,j] = Education2011.iloc[1,j] + Education2011.iloc[6,j] + Education2011.iloc[7,j]
Education2011.iloc[1,0] = "High School Graduate"
for j in range(1,19):
    Education2011.iloc[1,j] = Education2011.iloc[2,j] + Education2011.iloc[8,j]
Education2011.iloc[2,0] = "Some College or Associate's Degree"
for j in range(1,19):
    Education2011.iloc[2,j] = Education2011.iloc[3,j] + Education2011.iloc[9,j] + Education2011.iloc[10,j]
Education2011.iloc[3,0] = "Bechelor's Degree or Higher"
for j in range(1,19):
    Education2011.iloc[3,j] = Education2011.iloc[4,j] + Education2011.iloc[11,j] + Education2011.iloc[12,j]+ Education2011.iloc[13,j]+ Education2011.iloc[14,j]
Education2011.drop([4,5,6,7,8,9,10,11,12,13,14],inplace = True)         
        

Education2012 = Education2012.replace(',','', regex=True)
Education2012 = Education2012.replace('%','', regex=True)
Education2012["year"] = Education2012.apply(lambda x: 2012, axis=1)
Education2012["Label"] = Education2012["Label"].str.strip()
for i in range(1,5):
    for j in range(1,19):
        Education2012.iloc[i,j] = float(Education2012.iloc[i,j])*float(Education2012.iloc[0,j])/100
for i in range(6,15):
    for j in range(1,19):
        Education2012.iloc[i,j] = float(Education2012.iloc[i,j])*float(Education2012.iloc[5,j])/100
Education2012.iloc[0,0] = "Less Than High School"
for j in range(1,19):
    Education2012.iloc[0,j] = Education2012.iloc[1,j] + Education2012.iloc[6,j] + Education2012.iloc[7,j]
Education2012.iloc[1,0] = "High School Graduate"
for j in range(1,19):
    Education2012.iloc[1,j] = Education2012.iloc[2,j] + Education2012.iloc[8,j]
Education2012.iloc[2,0] = "Some College or Associate's Degree"
for j in range(1,19):
    Education2012.iloc[2,j] = Education2012.iloc[3,j] + Education2012.iloc[9,j] + Education2012.iloc[10,j]
Education2012.iloc[3,0] = "Bechelor's Degree or Higher"
for j in range(1,19):
    Education2012.iloc[3,j] = Education2012.iloc[4,j] + Education2012.iloc[11,j] + Education2012.iloc[12,j]+ Education2012.iloc[13,j]+ Education2012.iloc[14,j]
Education2012.drop([4,5,6,7,8,9,10,11,12,13,14],inplace = True)  

        

Education2013 = Education2013.replace(',','', regex=True)
Education2013 = Education2013.replace('%','', regex=True)
Education2013["year"] = Education2013.apply(lambda x: 2013, axis=1)
Education2013["Label"] = Education2013["Label"].str.strip()
for i in range(1,5):
    for j in range(1,19):
        Education2013.iloc[i,j] = float(Education2013.iloc[i,j])*float(Education2013.iloc[0,j])/100
for i in range(6,15):
    for j in range(1,19):
        Education2013.iloc[i,j] = float(Education2013.iloc[i,j])*float(Education2013.iloc[5,j])/100
Education2013.iloc[0,0] = "Less Than High School"
for j in range(1,19):
    Education2013.iloc[0,j] = Education2013.iloc[1,j] + Education2013.iloc[6,j] + Education2013.iloc[7,j]
Education2013.iloc[1,0] = "High School Graduate"
for j in range(1,19):
    Education2013.iloc[1,j] = Education2013.iloc[2,j] + Education2013.iloc[8,j]
Education2013.iloc[2,0] = "Some College or Associate's Degree"
for j in range(1,19):
    Education2013.iloc[2,j] = Education2013.iloc[3,j] + Education2013.iloc[9,j] + Education2013.iloc[10,j]
Education2013.iloc[3,0] = "Bechelor's Degree or Higher"
for j in range(1,19):
    Education2013.iloc[3,j] = Education2013.iloc[4,j] + Education2013.iloc[11,j] + Education2013.iloc[12,j]+ Education2013.iloc[13,j]+ Education2013.iloc[14,j]
Education2013.drop([4,5,6,7,8,9,10,11,12,13,14],inplace = True)  

        

Education2014 = Education2014.replace(',','', regex=True)
Education2014 = Education2014.replace('%','', regex=True)
Education2014["year"] = Education2014.apply(lambda x: 2014, axis=1)
Education2014["Label"] = Education2014["Label"].str.strip()
for i in range(1,5):
    for j in range(1,19):
        Education2014.iloc[i,j] = float(Education2014.iloc[i,j])*float(Education2014.iloc[0,j])/100
for i in range(6,15):
    for j in range(1,19):
        Education2014.iloc[i,j] = float(Education2014.iloc[i,j])*float(Education2014.iloc[5,j])/100
Education2014.iloc[0,0] = "Less Than High School"
for j in range(1,19):
    Education2014.iloc[0,j] = Education2014.iloc[1,j] + Education2014.iloc[6,j] + Education2014.iloc[7,j]
Education2014.iloc[1,0] = "High School Graduate"
for j in range(1,19):
    Education2014.iloc[1,j] = Education2014.iloc[2,j] + Education2014.iloc[8,j]
Education2014.iloc[2,0] = "Some College or Associate's Degree"
for j in range(1,19):
    Education2014.iloc[2,j] = Education2014.iloc[3,j] + Education2014.iloc[9,j] + Education2014.iloc[10,j]
Education2014.iloc[3,0] = "Bechelor's Degree or Higher"
for j in range(1,19):
    Education2014.iloc[3,j] = Education2014.iloc[4,j] + Education2014.iloc[11,j] + Education2014.iloc[12,j]+ Education2014.iloc[13,j]+ Education2014.iloc[14,j]
Education2014.drop([4,5,6,7,8,9,10,11,12,13,14],inplace = True)  

        

Education2015 = Education2015.replace(',','', regex=True)
Education2015 = Education2015.replace('%','', regex=True)
for i in range(1,19):
    Education2015.iloc[:,2*i-1].fillna((Education2015.iloc[:,2*i]).astype(float)*float(Education2015.iloc[5,2*i-1])/100, inplace=True)
Education2015.drop(Education2015.columns[[2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36]],axis = 1,inplace = True)
Education2015["year"] = Education2015.apply(lambda x: 2015, axis=1)
Education2015["Label"] = Education2015["Label"].str.strip()
Education2015.iloc[0,0] = "Less Than High School"
for j in range(1,19):
    Education2015.iloc[0,j] = float(Education2015.iloc[1,j]) + float(Education2015.iloc[6,j]) + float(Education2015.iloc[7,j])
Education2015.iloc[1,0] = "High School Graduate"
for j in range(1,19):
    Education2015.iloc[1,j] = float(Education2015.iloc[2,j]) + float(Education2015.iloc[8,j])
Education2015.iloc[2,0] = "Some College or Associate's Degree"
for j in range(1,19):
    Education2015.iloc[2,j] = float(Education2015.iloc[3,j]) + float(Education2015.iloc[9,j]) + float(Education2015.iloc[10,j])
Education2015.iloc[3,0] = "Bechelor's Degree or Higher"
for j in range(1,19):
    Education2015.iloc[3,j] = float(Education2015.iloc[4,j]) + float(Education2015.iloc[11,j]) + float(Education2015.iloc[12,j])+ float(Education2015.iloc[13,j])+ float(Education2015.iloc[14,j])
Education2015.drop([5,6,7,8,9,10,11,12,13,14,15],inplace = True)  



Education2016 = Education2016.replace(',','', regex=True)
Education2016 = Education2016.replace('%','', regex=True)
for i in range(1,19):
    Education2016.iloc[:,2*i-1].fillna((Education2016.iloc[:,2*i]).astype(float)*float(Education2016.iloc[5,2*i-1])/100, inplace=True)
Education2016.drop(Education2016.columns[[2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36]],axis = 1,inplace = True)
Education2016["year"] = Education2016.apply(lambda x: 2016, axis=1)
Education2016["Label"] = Education2016["Label"].str.strip()
Education2016.iloc[0,0] = "Less Than High School"
for j in range(1,19):
    Education2016.iloc[0,j] = float(Education2016.iloc[1,j]) + float(Education2016.iloc[6,j]) + float(Education2016.iloc[7,j])
Education2016.iloc[1,0] = "High School Graduate"
for j in range(1,19):
    Education2016.iloc[1,j] = float(Education2016.iloc[2,j]) + float(Education2016.iloc[8,j])
Education2016.iloc[2,0] = "Some College or Associate's Degree"
for j in range(1,19):
    Education2016.iloc[2,j] = float(Education2016.iloc[3,j]) + float(Education2016.iloc[9,j]) + float(Education2016.iloc[10,j])
Education2016.iloc[3,0] = "Bechelor's Degree or Higher"
for j in range(1,19):
    Education2016.iloc[3,j] = float(Education2016.iloc[4,j]) + float(Education2016.iloc[11,j]) + float(Education2016.iloc[12,j])+ float(Education2016.iloc[13,j])+ float(Education2016.iloc[14,j])
Education2016.drop([5,6,7,8,9,10,11,12,13,14,15],inplace = True)



Education2017 = Education2017.replace(',','', regex=True)
Education2017 = Education2017.replace('%','', regex=True)
for i in range(1,19):
    Education2017.iloc[:,2*i-1].fillna((Education2017.iloc[:,2*i]).astype(float)*float(Education2017.iloc[5,2*i-1])/100, inplace=True)
Education2017.drop(Education2017.columns[[2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36]],axis = 1,inplace = True)
Education2017["year"] = Education2017.apply(lambda x: 2017, axis=1)
Education2017["Label"] = Education2017["Label"].str.strip()
Education2017.iloc[0,0] = "Less Than High School"
for j in range(1,19):
    Education2017.iloc[0,j] = float(Education2017.iloc[1,j]) + float(Education2017.iloc[6,j]) + float(Education2017.iloc[7,j])
Education2017.iloc[1,0] = "High School Graduate"
for j in range(1,19):
    Education2017.iloc[1,j] = float(Education2017.iloc[2,j]) + float(Education2017.iloc[8,j])
Education2017.iloc[2,0] = "Some College or Associate's Degree"
for j in range(1,19):
    Education2017.iloc[2,j] = float(Education2017.iloc[3,j]) + float(Education2017.iloc[9,j]) + float(Education2017.iloc[10,j])
Education2017.iloc[3,0] = "Bechelor's Degree or Higher"
for j in range(1,19):
    Education2017.iloc[3,j] = float(Education2017.iloc[4,j]) + float(Education2017.iloc[11,j]) + float(Education2017.iloc[12,j])+ float(Education2017.iloc[13,j])+ float(Education2017.iloc[14,j])
Education2017.drop([5,6,7,8,9,10,11,12,13,14,15],inplace = True)




Education2018 = Education2018.replace(',','', regex=True)
Education2018 = Education2018.replace('%','', regex=True)
for i in range(1,19):
    Education2018.iloc[:,2*i-1].fillna((Education2018.iloc[:,2*i]).astype(float)*float(Education2018.iloc[5,2*i-1])/100, inplace=True)
Education2018.drop(Education2018.columns[[2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36]],axis = 1,inplace = True)
Education2018["year"] = Education2018.apply(lambda x: 2018, axis=1)
Education2018["Label"] = Education2018["Label"].str.strip()
Education2018.iloc[0,0] = "Less Than High School"
for j in range(1,19):
    Education2018.iloc[0,j] = float(Education2018.iloc[1,j]) + float(Education2018.iloc[6,j]) + float(Education2018.iloc[7,j])
Education2018.iloc[1,0] = "High School Graduate"
for j in range(1,19):
    Education2018.iloc[1,j] = float(Education2018.iloc[2,j]) + float(Education2018.iloc[8,j])
Education2018.iloc[2,0] = "Some College or Associate's Degree"
for j in range(1,19):
    Education2018.iloc[2,j] = float(Education2018.iloc[3,j]) + float(Education2018.iloc[9,j]) + float(Education2018.iloc[10,j])
Education2018.iloc[3,0] = "Bechelor's Degree or Higher"
for j in range(1,19):
    Education2018.iloc[3,j] = float(Education2018.iloc[4,j]) + float(Education2018.iloc[11,j]) + float(Education2018.iloc[12,j])+ float(Education2018.iloc[13,j])+ float(Education2018.iloc[14,j])
Education2018.drop([5,6,7,8,9,10,11,12,13,14,15],inplace = True)


Education2019 = Education2019.replace(',','', regex=True)
Education2019["year"] = Education2019.apply(lambda x: 2019, axis=1)
Education2019["Label"] = Education2019["Label"].str.strip()
Education2019.iloc[0,0] = "Less Than High School"
for j in range(1,19):
    Education2019.iloc[0,j] = float(Education2019.iloc[1,j]) + float(Education2019.iloc[6,j]) + float(Education2019.iloc[7,j])
Education2019.iloc[1,0] = "High School Graduate"
for j in range(1,19):
    Education2019.iloc[1,j] = float(Education2019.iloc[2,j]) + float(Education2019.iloc[8,j])
Education2019.iloc[2,0] = "Some College or Associate's Degree"
for j in range(1,19):
    Education2019.iloc[2,j] = float(Education2019.iloc[3,j]) + float(Education2019.iloc[9,j]) + float(Education2019.iloc[10,j])
Education2019.iloc[3,0] = "Bechelor's Degree or Higher"
for j in range(1,19):
    Education2019.iloc[3,j] = float(Education2019.iloc[4,j]) + float(Education2019.iloc[11,j]) + float(Education2019.iloc[12,j])+ float(Education2019.iloc[13,j])+ float(Education2019.iloc[14,j])
Education2019.drop([5,6,7,8,9,10,11,12,13,14,15],inplace = True)

In [355]:
Education2017.style

In [356]:
frames1 = [Education2010,Education2011,Education2012,Education2013,Education2014,Education2017,Education2018,Education2019]
Education1 = pd.concat(frames1)
Education1 = Education1.rename(columns = {"Label":"Education_Level",
                                        "New York!!Total!!Estimate":"New York, Total",
                                        "New York!!Male!!Estimate":"New York, Male",
                                        "New York!!Female!!Estimate":"New York, Female",
                                        "Bronx County, New York!!Total!!Estimate":"Bronx County, Total",
                                        "Bronx County, New York!!Male!!Estimate":"Bronx County, Male",
                                        "Bronx County, New York!!Female!!Estimate":"Bronx County, Female",
                                        "Kings County, New York!!Total!!Estimate":"Kings County, Total",
                                        "Kings County, New York!!Male!!Estimate":"Kings County, Male",
                                        "Kings County, New York!!Female!!Estimate":"Kings County, Female",
                                        "New York County, New York!!Total!!Estimate":"New York County, Total",
                                        "New York County, New York!!Male!!Estimate":"New York County, Male",
                                        "New York County, New York!!Female!!Estimate":"New York County, Female",
                                        "Queens County, New York!!Total!!Estimate":"Queens County, Total",
                                        "Queens County, New York!!Male!!Estimate":"Queens County, Male",
                                        "Queens County, New York!!Female!!Estimate":"Queens County, Female",
                                        "Richmond County, New York!!Total!!Estimate":"Richmond County, Total",
                                        "Richmond County, New York!!Male!!Estimate":"Richmond County, Male",
                                        "Richmond County, New York!!Female!!Estimate":"Richmond County, Female"})
frames2 = [Education2015,Education2016]
Education2 = pd.concat(frames2)
Education2 = Education2.rename(columns = {"Label":"Education_Level",
                                        "New York!!Total!!Estimate":"New York, Total",
                                        "New York!!Males!!Estimate":"New York, Male",
                                        "New York!!Females!!Estimate":"New York, Female",
                                        "Bronx County, New York!!Total!!Estimate":"Bronx County, Total",
                                        "Bronx County, New York!!Males!!Estimate":"Bronx County, Male",
                                        "Bronx County, New York!!Females!!Estimate":"Bronx County, Female",
                                        "Kings County, New York!!Total!!Estimate":"Kings County, Total",
                                        "Kings County, New York!!Males!!Estimate":"Kings County, Male",
                                        "Kings County, New York!!Females!!Estimate":"Kings County, Female",
                                        "New York County, New York!!Total!!Estimate":"New York County, Total",
                                        "New York County, New York!!Males!!Estimate":"New York County, Male",
                                        "New York County, New York!!Females!!Estimate":"New York County, Female",
                                        "Queens County, New York!!Total!!Estimate":"Queens County, Total",
                                        "Queens County, New York!!Males!!Estimate":"Queens County, Male",
                                        "Queens County, New York!!Females!!Estimate":"Queens County, Female",
                                        "Richmond County, New York!!Total!!Estimate":"Richmond County, Total",
                                        "Richmond County, New York!!Males!!Estimate":"Richmond County, Male",
                                        "Richmond County, New York!!Females!!Estimate":"Richmond County, Female"})
Education = [Education1,Education2]
Education = pd.concat(Education)

Education.iloc[:,1:] = Education.iloc[:,1:].astype(int)

In [357]:
Education.to_csv("/Users/tracy/Desktop/STAT5702_NYC_Employment_Analysis/DataPreprocessing/education/Education.csv")